# test wrangle function

In [1]:
import pandas as pd
from datetime import timedelta, datetime
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [2]:
import wrangle

In [3]:
from wrangle import wrangle_sa_temp

In [4]:
df = wrangle_sa_temp()

In [5]:
df.head()

            AverageTemperature  AverageTemperatureUncertainty  month  year
dt
1823-01-01               9.425                          2.788      1  1823
1823-02-01               9.864                          3.157      2  1823
1823-03-01              16.228                          2.660      3  1823
1823-04-01              20.097                          3.091      4  1823
1823-05-01              23.811                          2.044      5  1823

In [6]:
df.shape

(2289, 4)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2289 entries, 1823-01-01 to 2013-09-01
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   AverageTemperature             2289 non-null   float64
 1   AverageTemperatureUncertainty  2289 non-null   float64
 2   month                          2289 non-null   int64
 3   year                           2289 non-null   int64
dtypes: float64(2), int64(2)
memory usage: 89.4 KB

In [8]:
df.describe()

,AverageTemperature,AverageTemperatureUncertainty,month,year
count,2289.000000,2289.000000,2289.000000,2289.000000
mean,19.970752,0.795954,6.494102,1917.875491
std,6.872652,0.798271,3.451093,55.076907
min,4.023000,0.061000,1.000000,1823.000000
25%,13.737000,0.261000,3.000000,1870.000000
50%,20.292000,0.391000,6.000000,1918.000000
75%,26.686000,1.193000,9.000000,1966.000000
max,32.166000,5.063000,12.000000,2013.000000

In [9]:
df.isnull().sum()

AverageTemperature               0
AverageTemperatureUncertainty    0
month                            0
year                             0
dtype: int64